$base-size: 16;

@function size($target, $context: $base-size) {
  @return calc($target / $context) * 1em;
}

%line-height-default {
  line-height: 1.15;
}

%font-family-lato {
  font-family: "Lato", sans-serif;
}
%font-family-open-sans {
  font-family: "Open Sans", sans-serif;
}

%letter-spacing {
  letter-spacing: -0.02em;
}

$fontWeight: 400;

@while $fontWeight <= 900 {
  %font-weight-#{$fontWeight} {
    font-weight: $fontWeight;
  }

  $fontWeight: $fontWeight + 100;
}

$fontSize: 10;

@while $fontSize <= 40 {
  %font-size-#{$fontSize} {
    font-size: size($fontSize);
  }

  $fontSize: $fontSize + 1;
}

$lineHeight: 100;

@while $lineHeight <= 160 {
  %line-height-#{$lineHeight} {
    line-height: $lineHeight * 1%;
  }

  $lineHeight: $lineHeight + 10;
}

/** Heading **/
%heading-lt-26-900 {
  @extend %font-family-lato,
    %font-weight-900,
    %font-size-26,
    %line-height-130,
    %letter-spacing;
}
%heading-os-18-600 {
  @extend %font-family-open-sans,
    %font-weight-600,
    %font-size-18,
    %line-height-140,
    %letter-spacing;
}

/** Paragraph **/

/* Open Sans*/
%paragraph-os-16-700 {
  @extend %font-family-open-sans,
    %font-weight-700,
    %font-size-16,
    %line-height-160;
}
%paragraph-os-16-600 {
  @extend %font-family-open-sans,
    %font-weight-600,
    %font-size-16,
    %line-height-160;
}
%paragraph-os-16-400 {
  @extend %font-family-open-sans,
    %font-weight-400,
    %font-size-16,
    %line-height-160,
    %letter-spacing;
}
%paragraph-os-14-700 {
  @extend %font-family-open-sans,
    %font-weight-700,
    %font-size-14,
    %line-height-160,
    %letter-spacing;
}
%paragraph-os-14-600 {
  @extend %font-family-open-sans,
    %font-weight-600,
    %font-size-14,
    %line-height-160,
    %letter-spacing;
}
%paragraph-os-14-400 {
  @extend %font-family-open-sans,
    %font-weight-400,
    %font-size-14,
    %line-height-160,
    %letter-spacing;
}
%paragraph-os-12-500 {
  @extend %font-family-open-sans,
    %font-weight-500,
    %font-size-12,
    %line-height-160;
}
%paragraph-os-12-600 {
  @extend %font-family-open-sans,
    %font-weight-600,
    %font-size-12,
    %line-height-160;
}

/** Labels **/
%label-os-12-600 {
  @extend %font-family-open-sans,
    %font-weight-600,
    %font-size-12,
    %line-height-default;
}
